@use '../base/variables' as *;
@use '../base/mixins' as *;

.app-sidebar-header {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  padding: 0 $spacing-sm;
}

.app-sidebar-logo {
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: $blue-600;
  color: white;
  font-weight: 700;
}

.app-sidebar-title {
  font-weight: 700;
}
