@use '../base/variables' as *;
@use '../base/mixins' as *;

.app-layout-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.app-layout-header {
  display: flex;
  height: 3.5rem;
  align-items: center;
  gap: $spacing-sm;
  border-bottom: 1px solid hsl(var(--border));
  padding: 0 $spacing-md;
}

.app-layout-main {
  flex: 1;
  overflow: auto;
  padding: $spacing-lg;
}
